<head>
<link rel="stylesheet" href="style.css"/>
</head>

<nav class="navigation">
  <button class="back">back</button>
  <button class="directory">directory</button>
  <section class="breadcrumb">

  </section>
</nav>

<section class="content">

</section>

helloo
<%- world %>

<script src="bundle.js"></script>